.counter {
    background-color: #F4F0EC;
}

.counter .container {
    padding: 150px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.counter__item {
    font-size: 85px;
    text-align: center;
    color: #CDA274;
    /*padding-left: 50px;
    padding-right: 50px;*/
    width: calc(25% - 20px);
}

.counter__item__text {
    font-size: 20px;
    text-align: center;
    color: #292F36;
}

.counter__item ~ .counter__item {
    border-left: 1px solid #CDA274;
}
