.testimonial__card__content {
    color: #4D5053;
    font-size: 22px;
    margin-top: 25px;
}

.testimonial__card {
    display: inline-block;
    background-color: #fff;
    padding: 60px 35px;
    border-radius: 50px;
}

.testimonial__cards {
    justify-content: space-around;
}

.peopleProfile__avatar img {
    border-radius: 50%;
    margin-right: 20px;
}

.peopleTextProfile__name {
    font-size: 22px;
}

.peopleTextProfile__name {
    font-weight: 700;
    color: #292F36;
}

.peopleTextProfile__residence {
    color: #4D5053;
    font-size: 18px;
}


.testimonial {
    padding-top: 200px;
}

.testimonial .container {
    background-color: #F4F0EC;
    padding: 90px 25px;
    border-radius: 50px;
}

.testimonial__title {
    text-align: center;
    margin-bottom: 40px;
}