

.projects__card__content {
    margin-top: 25px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects__card__modern {
    font-weight: 700;
    margin-bottom: 5px;
    color: #333;
}

.projects__card__decor {
    font-size: 18px;
    color: #777;
}

.projects__card__description {
    font-size: 16px;
    margin-top: 10px;
    color: #666;
}

.price {
    font-size: 30px;
    margin: 20px 0;
    color: #CDA274;
    font-weight: 700;
}

.favoritesButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    align-self: flex-end;
    display: flex;
    align-items: center;
    position: relative;
}

.heart, .cart {
    font-size: 25px;
    transition: transform 0.3s;
    position: relative; /* Necessary for positioning pseudo-elements */
    z-index: 1; /* Ensure the icon is above the pseudo-element */
}

.heart {
    margin-right: 10px;
    color: white;
    filter: invert(50%); /* Set default filter here */
}

.cart {
    filter: invert(50%); /* Set default filter here */
}

.cart.disabled {
    opacity: 0.5;
    pointer-events: none; /* Optional: prevents clicking */
  }

.heart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s; /* Smooth transition */
    z-index: -1; /* Place behind the icon */
}

.heart:hover::before {
    opacity: 0.5; /* Show red background on hover */
}

.heart:hover {
    transform: scale(1.6);
    color: red;
}

.cart:hover {
    transform: scale(1.7);
}

.heart.filled {
    color: red;
}

.cart.filled {
    filter: invert(100%); /* Ensure the filled state has a distinct look */
}