

/*
.card {
  width: 575px;
  margin: 0 auto;
}

.price {
  margin: 0 auto;
  font-size: 22px;
}

.card__arr img {
  height: 24px;
  width: 24px;
  color: black;
}

.card__arr img ~ img {
  margin-left: 10px;
}*/