* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    word-break: break-word;
    padding-top: 115px;

}

body.lock {
    overflow: hidden;
}

h1, .h1 {
    font-size: 65px;
}

h2, .h2 {
    font-size: 50px;
}

h3, .h3 {
    font-size: 25px;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 18px;
    padding: 25px 45px;
    color: white;
    border-radius: 18px;
    text-decoration: none;
    transition: background-color .5s;
}

.grayBtn {
    background-color: #292F36;
}

.grayBtn:hover {
    background-color: #ff0007;
}

.cdaBtn {
    background-color: #CDA274;
}

.cdaBtn:hover {
    background-color: #ff0007;
}

.cdaBtn .arrow {
    color: #292F36;
}