.join {
    padding-bottom: 200px;
}

.join .container {
    background-color: #292F36;
    border-radius: 70px;
    padding: 80px 0;
    text-align: center;
    color: white;
}

.join__subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
}


.arrow {
    color: #CDA274;
}