.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(../img/banner.png) no-repeat;
    border-radius: 100px;
    padding: 200px 52px;
}

.main__subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}