.gallery__title {
    text-align: center;
}

.gallery__subtitle {
    font-size: 22px;
    text-align: center;
    margin: 10px 0 90px 0;
}

.gallery__card__content {
    margin-top: 25px;
}

.gallery__card__modern {
    font-weight: 700;
    margin-bottom: 5px;
}

.gallery__cards {
    flex-wrap: wrap;
}

.gallery__card {
    width: calc(50% - 50px);
    margin-bottom: 50px;
}

.gallery__card img {
    border-top-right-radius: 70px;
    width: 100%;
}

.gallery__card ~ .gallery__card {
    margin-left: 100px;
}

.gallery__card:nth-child(2n+1) {
    margin-left: 0;
}

.gallery__card__modern,
.gallery__card__decor {
    font-size: 22px;
}

.card__arrow {
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F4F0EC;
    font-weight: 900;
    border-radius: 50%;
    color: #292F36;
    width: 52px;
    height: 52px;
    text-decoration: none;
    margin-left: auto;
    transition: background-color .5s;
}

.card__arrow:hover {
    background-color: #ff7638;
}